{% extends 'layout.html' %}

{% block title %}Callfinder{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-column flex-wrap justify-content-around mb-3">
            <div class="d-flex flex-row flex-wrap justify-content-around mb-3">
                <div class="d-flex flex-column flex-wrap justify-content-around mb-3">
                    <div>
                        source
                    </div>
                    <div>
                        type
                    </div>
                    <div>
                        campaign
                    </div>
                    <div>
                        agent
                    </div>
                </div>
                <div class="d-flex flex-column flex-wrap justify-content-around mb-3">
                    <div>
                        ingroup
                    </div>
                    <div>
                        disposition
                    </div>
                </div>
                <div class="d-flex flex-column flex-wrap justify-content-around mb-3">
                    <div>
                        date / hour from
                    </div>
                    <div>
                        date / hour to
                    </div>
                    <div class="d-flex flex-row flex-wrap justify-content-around mb-3">
                        <div>
                            length from (secs)
                        </div>
                        <div>
                            length to (secs)
                        </div>
                    </div>
                    <div>
                        phone number
                    </div>
                </div>
                <div class="d-flex flex-row flex-wrap justify-content-around mb-3">
                    <div>
                        custom fields available
                    </div>
                    <div>
                        custom fields selected
                    </div>
                </div>
            </div>
            <div>
                search
            </div>
        </div>
    </div>
{% endblock %}