{% extends 'layout.html' %}

{% block title %}Callfinder{% endblock %}

{% block head %}
    <script type="text/javascript">
        const SCRIPT_ROOT = {{ request.script_root|tojson }}
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <form action="" method="post" id="form">
            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <label for="sources">Source</label>
                        <select class="form-select" id="sources">
                            <option selected>Open this select menu</option>
                        </select>
                    </div>
                    <div class="row">
                        <label for="types">Type</label>
                        <select class="form-select" id="types"></select>
                    </div>
                    <div class="row">
                        <label for="campaigns">Campaigns</label>
                        <select class="form-select" id="campaigns"></select>
                    </div>
                    <div class="row">
                        <label for="agents">Agents</label>
                        <select class="form-select" id="agents"></select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label for="ingroup">Ingroups</label>
                        <select class="form-select" id="ingroups"></select>
                    </div>
                    <div class="row">
                        <label for="dispos">Dispositions</label>
                        <select class="form-select" id="dispos"></select>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label for="fields">Custom Fields Available</label>
                        <select class="form-select" id="fields"></select>
                    </div>
                </div>
            </div>           
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='test.js') }}"></script>
{% endblock %}